<div class="container">
	<h1>Hello <%= session[:name] %> </h1>
	<p>Your login successful created</p>
	<form id="LoginForm" action="/" method="GET">
		<button type="submit" class="btn btn-primary">Back to Login Page</button>
	</form>
</div>